@import url('https://fonts.googleapis.com/css?family=Anton|Lato:100,300');

html, #root {
}
body {
  height: 100%;
  background-color: #4990E2;
  color: #fff;
}
/* Logo */
.website-title {
  font-family: 'Anton', cursive;
  font-size: 18px;
  margin-top: 2px;
  letter-spacing: 10px;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
}
.header .website-title {
  margin: 0;
}
.header {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.header .menu {
  margin: 0;
}
.go-back {
  float: left;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.logo {
  font-size: 16px;
  margin-top: 20px;
}
.logo img {
  width: 50px;
}
.home  {
  margin: 0 auto;
  width: 200px;
}
.home h2 {
  font-size: 16px;
  font-weight: 300;
  padding: 9px;
  letter-spacing: 2px;
  border-radius: 60px;
  margin: 10px;
  border: 1px solid #fff;
}
.input-new-exercise {
  border: 0;
  border-bottom: 1px dashed #aaa;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
h2 {
  font-size: 0.75rem;
}
.home .logo {
  margin-top: 200px;
}
table {
  padding: 15px;
}
.lift-table {
  padding: 15px;
}
.edit-routine ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #666;
}
.workout-routine {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  background-color: #fff;
  display: inline-block;
}
.edit-routine-day-title {
  color: #aaa;
}
.workout-routine span {
  padding: 5px;
  color: #aaa;
  font-size: 12px;
}
.workout-routine .exercise {
  padding: 0px;
}
.input-dropdown {
  /*border-bottom: 1px dashed #666;*/
}
.input-dropdown:hover {
  cursor: pointer;
}
.hide {
  display: none !important;
}
.exercise div {
  display: inline-block;
}
.exercise .editable-div {

}
.add-new-exercise-link {
  color: #aaa;
}
.editable-div input {
  border: 0;
}
.exercise
.exercise .input-increment {
  border: 1px solid #aaa;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 110%;
  z-index: 1;
  background-color: #fff;
}
.input-increment {
  display: flow-root;
}
.input-increment button, .input-increment div {
  float: left;
}
/* Tooltip arrow */
.input-increment:after, .input-increment:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.input-increment:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.input-increment:before {
	border-color: rgba(170, 170, 170, 0);
	border-bottom-color: #aaa;
	border-width: 11px;
	margin-left: -11px;
}
.exercise .input-dropdown {
  position: relative;
}
.exercise button {
  display: inline-block;
}
.logo a {
  text-decoration: none;
}
table td {
  padding: 15px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #aaa;
}
table tr {
  border: 2px solid #eee;
}
table .first {
  width: 30%;
}
button {
  border-radius: 2px;
  font-size: 16px;
  font-weight: 200;
  background-color: #fff;
  border: 1px solid #000;
  margin: 1px;
  padding: 5px;
  color: #555;
}
button:focus {outline:0;}
button.active {
  background-color: #a8ffb7;
}
button.not-active {
  background-color: #efefef;
}
.timer h1 {
  font-size: 1rem;
  margin-top: 0;
}
.timer {
  text-align: center;
  margin: 2rem;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.add-new-workout-form {
  border: 1px solid #aaa;
  padding: 20px;
}
.form-group input {
  width: 50px;
}
.input-increment-box {
  padding: 5px;
  border: 1px solid #000;
  position: absolute;
  top: 40px;
  left: 0px;
}
.input-increment button {
  width: 20px;
}
.exercise .ex-name {
  width: 50%;
}
.exercise .ex-sets {
  width: 25%;
}
.exercise .ex-sets input {
  width: 25%;
  text-align: center;
}
.exercise .ex-weight {
  width: 25%;
}
.exercise .ex-weight input {
  width: 50%;
  text-align: center;
}
.exercise input {
  width: 90%;
  margin: 2px;
  border-bottom: 1px dashed #ccc;
}
.weight-edit-lift input, .weight-edit-lift span {
  width: 30px;
  border: 0;
  text-align: center;
  border-bottom: 1px dashed #aaa;
}
.weight-edit-lift span {
  font-size: 10px;
}
/*-----------------------------------------
* Lifts Page
*------------------------------------------*/

.lift-workout-exercise {
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  margin: 10px 0;
  color: #828282;
  box-shadow: 1px 1px 12px #3c70ad;
}

.lift-exercise-headers:after {
  content: "";
  display: table;
  clear: both;
}
.lift-exercise-name {
  float: left;
}
.weight-edit-lift {
  float: right;
}
.lift-exercise-sets button {
  padding: 20px;
  border: 0;
  font-weight: 600;
  border-radius: 100%;
  margin: 3px;
  font-size: 10px;
}
button {
  background-color: #DCDCDC;
}
.container {
  width: 100%;
  position: relative;
}
.timer {
  background-color: #3c3a3a;
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
}
.timer-container {
  margin: 10px;
  position: relative;
}
.timer-message {
  font-size: 12px;
}
.timer-label {
  font-size: 14px;
  text-align: center;
}
.timer-label span {
  display: inline-block;
  padding: 2px;
}
.timer-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
}
.login-page .logo {
  margin-top: 150px;
}
.login-page .login-form {
  background-color: initial !important;
  box-shadow: initial !important;
  width: 200px !important;
  margin: 0 auto !important;
}
.login-page .login-form .field-line div {
  width: 200px !important;
}
.history {
  /*
  z-index: 100000;
  position: fixed;
  left: 8px;
  padding: 18px;
  background: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 9px #989898;
  box-shadow: 1px 1px 9px #989898;
  */
}
.history a {
  text-decoration: none;
}
.history h2 {
  font-size: 8px;
  font-weight: 600;
}
.history-table {
  padding: 10px;
  overflow-y: auto;
  height: 130px;
}
.history-header-row {
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  color: #666;
}
.history-table-row {
  font-size: 12px;
  text-align: center;
}
.history-close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 10px;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 3px 10px;
  font-size: 10px;
}
.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.darkClass {
  opacity: 0;
}
.tooltip-root {
  // Remove ugly transitions that cause borders to show before animation is finished
  background: transparent !important;
  overflow: visible !important;
  box-shadow: none !important;
  // This positions the popover way offscreen, which is then overridden (fixes flashing)
  left: -31415px;
}
table td {
  padding: 0;
}
table thead th:nth-child(1) {
  display: none;
}
.lift-table {
  padding: 15px;
  margin: 0 auto;
  max-width: 600px;
}
.loading-gif {
  width: 50px;
  margin: 0 auto;
}
.loading-gif img {
  max-width: 100%;
}
  .workout-routine {
    width: 90%;
  }

.workout-routine .editable-div {
  padding: initial;
  text-align: initial;
}
.workout-routine .editable-div {
  padding: initial;
  text-align: initial;
}
.workout-routine table tr {
  border: 0;
}
.workout-routine .exercise input {
  border: 0;
}
.workout-routine .edit-routine-day-title {
  text-align: center;
}
.home h2:hover {
  background-color: #fff;
  color: #4990E2;
  cursor: pointer;
}
.exercises-list {
  position: absolute;
  left: 3.8%;
}
@media only screen and (max-width: 800px) {
  .exercises-list {
    position: absolute;
    left: 2% !important;
  }
}
